<ion-view view-title="Lufke">
    <ion-content class="padding">
        <ion-list>
            <ion-item class="item-divider item-solicitud">
                <div class="row">
                    <div class="col">
                        {{solicitudes.cantidad_total}}&nbsp;{{solicitudes.texto_titulo}}
                    </div>
                </div>
            </ion-item>
            <ion-item ng-repeat="item in solicitudes.lista">
                <div class="row">
                    <div class="col center-img-perfil-solicitud">
                        <img ng-src="{{item.url_img_perfil}}" class="img-perfil-solicitud" />
                    </div>
                    <div class="col col-75">
                        <h3>{{item.nombre_perfil}}</h3>
                        <h4 class="text-muted">{{item.usuario_perfil}}</h4>
                    </div>
                    <div class="col align-boton-soicitud-ok">
                        <span ng-click="aceptarSolicitud(item)">
                            <i class="ion-checkmark-circled icon-solicitud-ok"></i>
                        </span>
                    </div>
                </div>
                <ion-option-button class="button-assertive" ng-click="ignorarSolicitud(item)">
                    Ignorar
                </ion-option-button>
            </ion-item>
            <ion-item class="item-solicitud">
                <div class="row">
                    <div class="col"></div>
                    <div class="col col-75">
                        <span ng-click="verSolicitudes()">
                            VER 18 MÁS <i class="ion-chevron-down"></i>
                        </span>
                    </div>
                    <div class="col"></div>
                </div>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>