#login-forgot-password{
	padding-top: 0.5em;
	text-align: center;
	font-size: 85%;
	color: #666666;
}

.css-form input.ng-invalid.ng-touched {
    color: #FA787E;
}

.css-form input.ng-valid.ng-touched {
    color: #78FA89;
}