.news-post {
    height: 15em;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0;
}

.news-post-body {
    height: 6em;
    font-size: 90%;
}

.news-post-timestamp {
    text-align: right;
}

.news-post-user-name {
    font-size: 110%;
}

.news-post-user-data{
	padding-top: 0.5em;
	text-align: left;
}

.news-post-location {
    color: #EEE0BB;
    font-size: 90%;
}

.news-post-user-img {
    border-radius: 100%;
    height: 3.5em;
    width: 3.5em;
}

.news-post-more{
    text-align: right;
}