.profile-request-img {
    border-radius: 100%;
    height: 40px;
    width: 40px;
}
.profile-notification-img {
    border-radius: 100%;
    height: 40px;
    width: 40px;
}
.text-request-muted {
    color: #C8C8C8;
    font-size: 95%;
}
.request-icon-ok {
    font-size: 35px;
    color: #56BCC5;
}
.notification-icon-align-go {
    text-align: right;
    vertical-align: middle;
}
.notification-profile-img-center {
    padding-right: 40px;
}
.request-button-align-ok {
    text-align: right;
    vertical-align: middle;
}
.request-item {
    padding: 0px;
}
.notification-container-text {
    white-space: normal;
}
.notification-icon-go {
    font-size: 35px;
    color: #C8C8C8;
}
.notification-user-go {
    color: #56BCC5;
    font-weight: 600;
}
.notification-timestamp-text {
    color: #C8C8C8;
}