.post-summary {
    height: 15em;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0;
}

.post-summary-body {
    height: 6em;
    font-size: 90%;
}

.post-summary-timestamp {
    text-align: right;
}

.post-summary-user-name {
    font-size: 110%;
}

.post-summary-user-data{
	padding-top: 1em;
	text-align: left;
}

.post-summary-location {
    color: #EEE0BB;
    font-size: 90%;
}

.post-summary-user-img {
    border-radius: 100%;
    height: 3.5em;
    width: 3.5em;
}

.post-summary-user-img-container {
    padding: 0.3em;
}

.post-summary-more{
    text-align: right;
}