.profile-main-img {
    border-radius: 100%;
    height: 70px;
    width: 70px;
    padding:1px;
    border:1px solid #FF0;
    background-color: #F3CC5B;
    filter: blur(5px);
}
.tag-social-link-text {
    color: #56BCC5;
}
.profile-text-center {
    text-align: center;
}
.profile-background-img {
    background-repeat: no-repeat;
    background-size: cover;
}
.profile-number {
    text-shadow: 1px 0px #56BCC5;
    font-size: 120%;
}
.profile-number-text-under {
    text-shadow: 1px 0px #56BCC5;
    font-size: 70%;
}
.profile-name-text {
    text-shadow: 1px 0px #56BCC5;
}
.profile-button-edit {
    text-align: right;
    padding-right: 0px;
}