<ion-view title="Lufke">
    <ion-content class="padding">
        <div class="row section-title">
            <div class="col">
                USUARIOS POPULARES
            </div>
            <div class="col viewall">                
                VER TODOS
                <i class="ion-chevron-right"></i>
            </div>
        </div>
        <div class="list">
            <div class="item post-item" ng-repeat="item in topUsers" style="background-image: url('{{item.backgroundImgUrl}}');">
                <div class="row">
                    <div class="col">
                        <a href="#/profile/{{item.profileId}}">
                            <img ng-src="{{item.profileImgUrl}}" class="profile-img" />
                        </a>
                    </div>
                    <div class="col">
                        <h4 class="light">{{item.profileFirstName}}<br />{{item.profileLastName}}</h4>
                        <button class="button button-light button-small">
                            <i class="ion-plus active"></i> SEGUIR
                        </button>
                    </div>
                    <div class="col" ng-repeat="pub in item.lastPosts">
                        <div class="post-content post-icon-center" style="background-image: url('{{pub.postImgUrl}}');">
                            <i class="{{pub.postType == 'FOTO' ? 'ion-camera' : 'ion-play'}} light post-icon"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row section-title">
            <div class="col">
                CATEGORíAS
            </div>
            <div class="col viewall">
                VER TODAS
                <i class="ion-chevron-right"></i>
            </div>
        </div>
        <div class="row" ng-repeat="row in topCategories">
            <div class="col" ng-repeat="category in row">
                <div class="category-content" style="background-image: url('{{category.categoryImgUrl}}');">
                    <div class="category-name light">
                        {{category.categoryName}}
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>