<ion-pane>
    <ion-header-bar class="bar-stable">
        <h1 class="title">Lufke</h1>
    </ion-header-bar>

    <ion-view view-title="Lufke">
        <ion-content class="padding">
            <div class="list card">
                <div class="item item-divider">Prueba carga pagina inicio</div>
                <div class="item item-body">
                    <div>
                        Datos de prueba: <b>{{dato_prueba}}</b>
                    </div>
                    <div>
                        <a ui-sref="login">Login</a><br />
                        <a ui-sref="perfil">Perfil</a><br />
                        <a ui-sref="filtros">Filtros</a>
                    </div>
                </div>
            </div>
        </ion-content>
    </ion-view>

</ion-pane>