<ion-view title="Login">
    <ion-content>
        <form name="loginForm" novalidate ng-submit="loginForm.$valid && validateUser()" class="content has-header css-form">
            <div class="list">
                <label class="item item-input">
                    <input ng-model="user.email" type="email" placeholder="Correo" required>
                    <span ng-show="loginError">(!)</span>
                </label>
                <label class="item item-input">
                    <input ng-model="user.password" type="password" placeholder="Contraseña" required>
                </label>
            </div>
            <div class="card" ng-show="loginError">
                <div class="item item-text-wrap assertive">
                    El correo o la contraseña ingresado no son válidos.
                </div>
            </div>
            <div class="padding">
                <input type="submit" class="button button-block button-positive" value="Iniciar sesión">
            </div>
        </form>
    </ion-content>
</ion-view>