<ion-view view-title="Noticias">
    <ion-nav-buttons side="left">
        <a class="button button-icon icon ion-search" href="#/buscar"></a>  
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <a class="button button-icon icon ion-levels" href="#/filters"></a>  
    </ion-nav-buttons>

    <ion-content padding="true">
        <ion-refresher pulling-text="Soltar para refrescar..." on-refresh="refrescarNews()">
        </ion-refresher>
        <div class="list">
            <lufke-post ng-repeat="post in posts"></lufke-post>
        </div>
    </ion-content>
</ion-view>