<ion-view id="news" view-title="Noticias">
    <ion-nav-buttons side="left">
        <a class="button button-icon icon ion-search" href="#/buscar"></a>  
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <a class="button button-icon icon ion-levels" href="#/filters"></a>  
    </ion-nav-buttons>

	<ion-header-bar class="bar bar-subheader item-input-inset">
		<textarea id="experienceText" ng-model="experienceText" placeholder="Comparte tu experiencia..."></textarea>
        <button ng-show="experienceText.length" class="button button-positive ion-edit" ng-click="shareExperience()"></button>
	</ion-header-bar>

    <ion-content padding="true">
        <ion-refresher pulling-text="Soltar para refrescar" on-refresh="updateNews()">
        </ion-refresher>
		<ion-list>
			<a ng-show="!posts.length" class="item item-icon-left item-icon-right" href="#/tab/explore">
                No hay noticias que mostrar :(<br/>
				Deberías seguir algunas personas<br>
				<i class="icon ion-eye"></i>
			</a>
            <lufke-post ng-show="posts.length" ng-repeat="post in posts"></lufke-post>
        </ion-list>
    </ion-content>
</ion-view>