<ion-view view-title="Notificaciones">
    <ion-content class="padding">
        <ion-list>
            <ion-item class="item-divider request-item">
                <div class="row">
                    <div class="col" ng-show="requests.requestsList.length">
                        {{requests.cantidad_total}}&nbsp;{{requests.titleText}}
                    </div>
                    <div class="col" ng-show="!requests.requestsList.length">
                        SOLICITUDES DE SEGUIMIENTO
                    </div>
                </div>
            </ion-item>
            <ion-item ng-repeat="item in requests.requestsList">
                <div class="row">
                    <div class="col notification-profile-img-center">
                        <img ng-src="{{item.profileImgUrl}}" class="profile-request-img" />
                    </div>
                    <div class="col col-75">
                        {{item.profileName}}
                        <br />
                        <span class="text-request-muted">{{item.profileUser}}</span>
                    </div>
                    <div class="col request-button-align-ok">
                        <span ng-click="acceptRequest(item)">
                            <i class="ion-checkmark-circled request-icon-ok"></i>
                        </span>
                    </div>
                </div>
                <ion-option-button class="button-assertive" ng-click="ignoreRequest(item)">
                    Ignorar
                </ion-option-button>
            </ion-item>
            <ion-item ng-show="!requests.requestsList.length">
                No tiene solicitudes para mostrar
            </ion-item>
            <ion-item class="request-item" ng-show="requests.requestsList.length">
                <div class="row">
                    <div class="col"></div>
                    <div class="col col-75">
                        <span ng-click="viewRequests()">
                            VER {{requests.totalMore}} MÁS <i class="ion-chevron-down"></i>
                        </span>
                    </div>
                    <div class="col"></div>
                </div>
            </ion-item>
        </ion-list>
        <div class="row"><div class="col"></div></div>
        <div class="list">
            <div class="item item-divider">
                NOTIFICATIONS
            </div>
            <div class="item" ng-repeat="item in notifications.notificationsList">
                <div class="row">
                    <div class="col notification-profile-img-center">
                        <img ng-src="{{item.profileImgUrl}}" class="profile-notification-img" />
                    </div>
                    <div class="col col-75">
                        <span class="notification-container-text">
                            <span class="notification-user-go">{{item.profileUser}}</span>
                            {{item.notificationText}}
                            <span class="notification-timestamp-text">{{item.timestampText}}</span>
                        </span>
                    </div>
                    <div class="col notification-icon-align-go" ng-click="verNotificacion(item)">
                        <i class="ion-chevron-right notification-icon-go"></i>
                    </div>
                </div>
            </div>
            <div class="item" ng-show="!notifications.notificationsList.length">
                No tiene notificaciones para motrar
            </div>
            <div class="item" ng-show="notifications.notificationsList.length">
                <div class="row">
                    <div class="col"></div>
                    <div class="col col-75">
                        <span ng-click="viewNotifications()">
                            VER MÁS <i class="ion-chevron-down"></i>
                        </span>
                    </div>
                    <div class="col"></div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>