<ion-view view-title="Lufke">
    <ion-content class="padding">
        <style type="text/css">{{style_before}}</style>
        <div class="row img-background-perfil" ng-style="{'background-image': 'url(' + perfil.url_img_fondo + ')'}">
            <div class="col">
                <div class="row">
                    <div class="col">
                        <img ng-src="{{perfil.url_img_perfil}}" class="img-principal-perfil" />
                    </div>
                    <div class="col col-75">
                        <div class="row light">
                            <div class="col">
                                <div class="texto-nombre-perfil">{{perfil.nombre_perfil_1}}</div>
                                <div class="texto-nombre-perfil">{{perfil.nombre_perfil_2}}</div>
                            </div>
                            <div class="col boton-editar-perfil">
                                <a class="button button-light button-small" ng-click="editarPerfil(perfil)">
                                    Editar perfil
                                </a>
                            </div>
                        </div>
                        <div class="row center-text-perfil light">
                            <div class="col">
                                <div class="cantidad-perfil">{{perfil.cant_posts}} {{perfil.uni_posts}}</div>
                                <div class="texto-bajo-cantidad-perfil">POSTS</div>
                            </div>
                            <div class="col">
                                <div class="cantidad-perfil">{{perfil.cant_seguidores}} {{perfil.uni_seguidores}}</div>
                                <div class="texto-bajo-cantidad-perfil">SEGUIDORES</div>
                            </div>
                            <div class="col">
                                <div class="cantidad-perfil">{{perfil.cant_siguiendo}} {{perfil.uni_siguiendo}}</div>
                                <div class="texto-bajo-cantidad-perfil">SIGUIENDO</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div ng-repeat="item in perfil.intereses" class="texto-interes-perfil">
                            {{item.texto_interes}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col center-text-perfil">
                <p>{{perfil.texto_abstract}}</p>
                <p>
                    <span>|</span>
                    <span ng-repeat="item in perfil.tags">
                        <span class="texto-link-social-tag" ng-click="verTag(item)">{{item.texto_tag}}</span>
                        <span>|</span>
                    </span>
                </p>
                <p class="texto-link-social-tag" ng-click="socialLink(perfil.url_social_link)">
                    {{perfil.texto_social_link}}
                </p>
            </div>
        </div>
    </ion-content>
</ion-view>