<a class="item post-summary" ng-style="{'background-image':'url({{post.backgroundImgUrl}})'}" href="#/post/{{post.postId}}">
    <div class="row row-top">
        <div class="post-summary-user-img-container">
            <img class="post-summary-user-img" ng-src="{{post.profile.image}}" alt="Foto de perfil"/>
        </div>

        <div class="col post-summary-user-data">
            <span class="post-summary-user-name">{{post.profile.name}}<br/></span>

            <span ng-show="post.location !== ''" class="post-summary-location">
                <i class="ion-location"></i> {{post.location}}
            </span>
        </div>

        <div class="col post-summary-timestamp">
            <i class="ion-clock"></i> <span am-time-ago="post.timestamp"></span>                        
        </div>
    </div>

    <div class="row row-baseline">
        <div class="col post-summary-body-text">{{post.text}}</div>
    </div>

    <div class="row row-bottom">
        <div class="col post-summary-footer">
            <i class="ion-star"></i> <span>{{post.totalStars}}</span>
            <i class="ion-chatbox"></i> <span>{{post.totalComments}}</span>
        </div>
    </div>
</a>
<br/>