<ion-tabs class="tabs-icon-top tabs-color-active-positive">
    <ion-tab class="padding-top" icon="ion-home" href="#/tab/news">
        <ion-nav-view name="tab-news"></ion-nav-view>
    </ion-tab>
    <ion-tab class="padding-top" icon="ion-eye" href="#/tab/explore">
        <ion-nav-view name="tab-explore"></ion-nav-view>
    </ion-tab>
    <ion-tab class="padding-top" icon="ion-star" href="#/tab/notifications">
        <ion-nav-view name="tab-notifications"></ion-nav-view>
    </ion-tab>
    <ion-tab class="padding-top" icon="ion-person" href="#/tab/profile">
        <ion-nav-view name="tab-profile"></ion-nav-view>
    </ion-tab>
</ion-tabs>