<ion-tabs class="tabs-icon-top tabs-color-active-positive">
    <ion-tab icon="ion-home" href="#/tab/noticias">
        <ion-nav-view name="tab-noticias"></ion-nav-view>
    </ion-tab>
    <ion-tab icon="ion-eye" href="#/tab/explorar">
        <ion-nav-view name="tab-explorar"></ion-nav-view>
    </ion-tab>
    <ion-tab icon="ion-star" href="#/tab/notificaciones">
        <ion-nav-view name="tab-notificaciones"></ion-nav-view>
    </ion-tab>
    <ion-tab icon="ion-person" href="#/tab/perfil">
        <ion-nav-view name="tab-perfil"></ion-nav-view>
    </ion-tab>
</ion-tabs>